
ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#ffffff;
  position: sticky;
  overflow:hidden;
  width: 100%;
} 

ul li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

ul li  {
  float: left;
}

li a.active {
color: rgb(0, 0, 0);
background-color: rgb(229, 227, 227);
}

ul li a:hover {
background-color: rgb(223, 222, 222);
}

ul li a:last-child{
  float:right;
}

body{
  background-image:url(bollen.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.voorpaginatekst{
  color: white; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  border-style: double; 
  border-color: #ffffff;
  border-width: 3px; 
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

.tweedepaginatekst{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
  border-style: solid;
  border-color:lightgrey;
  border-width: 3px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  
}

.h1tekst{
  color:#fefefe; 
  text-align: center;  
}

.h1tekstpagina2{
  color:#ffffff;
  text-align: center;
}


.h1tekstderdepagina{
  color:#ffffff; 
  text-align: center;
}

.tekstpagina4{
  color:#ffffff;
  text-align: center;
}

.tekstpagina5{
  color: #ffffff;
  text-align: center;
}

.jeffbuckley:link{
  color:#ffffff;
  text-decoration: none;
  margin-left: 15px; 
}
.jeffbuckley:visited{
  color:white;
  text-decoration: none;}



