
ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#e1e1e1;
  overflow: hidden;
  position: fixed;
} 
ul li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}
ul li  {
  float: left;
}

li a.active {
color: rgb(0, 0, 0);
background-color: rgb(177, 177, 177);
}

ul li a:hover {
background-color: rgb(207, 205, 205);
}

{ img 

}

