
ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:rgb(225, 225, 225);
  overflow: hidden;
} 
ul li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
ul li  {
  float: left;
}

li a.active {
color: rgb(0, 0, 0);
background-color: rgb(177, 177, 177);
}

ul li a:hover {
background-color: rgb(177, 177, 177);
}


